# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Variables 
.env
.env.local
.env.development.local

# Python junk
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Production builds
build/
dist/